body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(135deg, #003f5c, #2f4b7c);
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
    width: 90%;
}

h1 {
    margin-bottom: 20px;
    font-size: 3em;
    background: linear-gradient(90deg, #ffffff, #e0e0e0);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 20px 40px;
    margin-bottom: 30px;
    background-color: #1B262C;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: #0F4C75;
}

canvas {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 60vh;
    background: linear-gradient(135deg, #3282B8, #0F4C75);
    border: 3px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
